#s-2efe61e8-1818-4475-984c-c350c15c7a62 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2efe61e8-1818-4475-984c-c350c15c7a62 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}