#s-a368196d-9b45-4507-a073-ee343632495a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a368196d-9b45-4507-a073-ee343632495a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}